<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.android.cyfral.servisnik">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RepairRequestActivity"
            android:label="@string/title_activity_repair_request"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.repair" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.search" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ordercard.OrderCardActivity">
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.card" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ui.ordercard.TMCActivity">
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.tmc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ordercard.ContactsActivity">
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.contacts" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ordercard.EquipmentActivity">
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.equipment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ordercard.SafeHouseActivity">
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.safehouse" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.executionresult.ExecutionResultActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.executionresult" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.executionresult.ChoiceTMCActivity" >
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.choistmc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.executionresult.ChoiceGroupActivity">
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.choisegroup" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.executionresult.ChoiceElementsActivity">
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.choiseelement" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.executionresult.ChoiceTypeActivity">
            <intent-filter>
                <action android:name="ru.android.cyfral.servisnik.choisetype" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.infoentrance.InfoEntranceActivity" />
        <activity android:name=".ui.infoentrance.VideoServiceActivity" />
        <activity android:name=".ui.infoentrance.AccessEquipmentActivity" />
        <activity android:name=".ui.infoentrance.SpecialSubscriberActivity" />
        <activity android:name=".ui.infoentrance.CallBlockActivity" />
        <activity android:name=".ui.listwork.ListWorkActivity" />
        <activity android:name=".ui.listwork.WorksAtActivity" />
        <activity android:name=".ui.listwork.NearListActivity" />
        <activity android:name=".ui.entranceto.EntranceTOActivity" />
        <activity android:name=".ui.entranceto.EntranceSearchActivity"></activity>
    </application>

</manifest>